*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-image: url('../imagens/escritorio.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 2% 0 10px 0;
}

.clean{
    clear: both;
}

div.banner{
    background-color: gray;
    opacity: 0.7;
}

nav.menu-desktop{
    float: right;
    justify-content: flex-end;
}

nav ul li{
    display: inline-block;
    padding: 0 20px;
}

nav a{
    text-decoration: none;
    color: azure;
    font-size: 18px;
}

h2.logo{
    font-size: 23px;
    color: azure;
    float: left;
}

a.btn{
    color:azure;
    background-color: rgb(38, 131, 253);
    border: none;
    border-radius: 50px;
    font-weight: lighter;
    padding: 15px 50px;
    text-decoration: none;
}

div.linha3{
    width: 80%;
    height: 2px;
    background-color: rgb(38, 131, 253);
    margin: 55px auto 10px auto;
}

h1{
    text-align: center;
    font-size: 20px;
    color: black;
 }

section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2%;
}

article p{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

div.box{
    padding: 50% 45px;
    border-radius: 9px;
    background-color:rgb(137, 150, 173);
    opacity: 0.9;
}

h2{
    text-align: center;
}
